@import url('//at.alicdn.com/t/font_3318742_9901gcdpweg.css');

@box-sizing-global:border-box;
@color:inherit;

*{
    margin: 0;
    padding: 0;
    box-sizing: @box-sizing-global;
}

.iconfont {
  font-size: inherit;
  color: @color;
}

::before,
::after {
  box-sizing: @box-sizing-global;
}

a {
  color: @color;
  text-decoration: none;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}